// animation scroll
@keyframes scroll {
  100%{
    background-position: -3000px 0;
  } 
}

// animation pulse
.pulse {
  animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);

  &:hover {
    animation: none;
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 15px 15px rgba(17, 0, 255, .7);
  }
}
