// colors
$color-black: #000;
$color-blue:#23A6D5;
$color-dark-blue:rgb(27, 88, 110);
$color-green:#008000;
$color-light-blue:#23D5AB;
$color-light-grey:#909090;
$color-orange:#EE7752;
$color-pink:#E73C7E;

// value
$common-value: 15px;
